@font-face {
	font-family: "GothamProRegular";
	src:url("../fonts/GothamProRegular.woff") format("woff"),
        url("../fonts/GothamProRegular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "GothamProBold";
	src: url("../fonts/GothamProBold.woff") format("woff"),
	     url("../fonts/GothamProBold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}



    
